html, body {
    font-family: Helvetica, Arial, sans-serif ;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 20px;
    font-size: 1rem;
    color:  rgb(5, 3, 29);
    margin: 0;
}

.nav-brand-img {
max-width: 42px;
}

.img-header {
    max-width: 100%;
}

.fa-cart-plus {
    padding: 0.4rem 0.5rem;
    padding-left: 1rem;
    color: rgb(81, 81, 121);
    cursor: pointer;
}

.fa-cart-plus:hover {
    cursor: pointer;
    color: rgb(4, 4, 46);

}


.btn-container {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

.btn-container .btn-light {
    padding: 0.5rem 1rem;
    font-size: 1.45rem;
    background-color: #d3d3d4c9;
    box-shadow: 2px 2px 7px rgb(0 0 0 / 60%);
    border-color: rgb(95, 95, 95);
    margin-top: -6.5rem;
    margin-bottom: 4.5rem;
}

.btn-container .btn-light:hover {
    background-color: #e5b4bce8;
    cursor: pointer;
    box-shadow: 3px 3px 11px rgb(0 0 0 / 90%);
}

.section-header {
    padding: 0.3rem 0 0.8rem;
}

.section-header h1 {
    text-align: center;
}

.row {
    padding: 2.3rem 1.2rem;
}

.info-img-left {
    text-align: center;
    padding-top: 1.7rem;
    padding-bottom: 1.3rem;
}

.fa-cart-arrow-down, .fa-check-double {
    font-size: 3.5rem;
}

.section-text-right, .section-text-left {
    text-align: center;
}

/* $$$$$$$$$$$$$$$$$$$ MOBILE $$$$$$$$$$$$$ */

@media (max-width: 991px) {
    .container-soping-cart {
        display: block;
        text-align: center;
        margin: auto;
    }

}